# Kural Tabanlı Sınıflandırma ile Potansiyel Müşteri Getirisi Hesaplama

---------

Bir oyun şirketi müşterilerinin bazı özelliklerini kullanarak
seviye tabanlı (level based) yeni müşteri tanımları (persona)
oluşturmak ve bu yeni müşteri tanımlarına göre segmentler
oluşturup bu segmentlere göre yeni gelebilecek müşterilerin
şirkete ortalama ne kadar kazandırabileceğini tahmin etmek
istemektedir.

Örneğin:
Türkiye’den IOS kullanıcısı olan 25 yaşındaki bir erkek
kullanıcının ortalama ne kadar kazandırabileceği belirlenmek
isteniyor.

-------

In [2]:
# Pandas kütüphanesini import edelim;
import pandas as pd
import numpy as np

# pandas görüntü ayarlarını yapalım;

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [3]:
# dataseti dahil edelim;

df_ = pd.read_csv(r"C:\Users\kkakt\Desktop\case's\dataset\persona.csv")

df = df_.copy()

df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

In [4]:
# veri setinin genel yapısını inceleyelim;

from et_analysis import check_df

check_df(df)

##################### Shape #####################
(5000, 5)
##################### Types #####################
PRICE       int64
SOURCE     object
SEX        object
COUNTRY    object
AGE         int64
dtype: object
##################### NA #####################
         # of N/A values
PRICE                  0
SOURCE                 0
SEX                    0
COUNTRY                0
AGE                    0
##################### Quantiles #####################
         count   mean    std    min     0%     5%    50%    95%    99%   100%  \
PRICE 5000.000 34.132 12.465  9.000  9.000 19.000 39.000 49.000 59.000 59.000
AGE   5000.000 23.581  8.996 15.000 15.000 15.000 21.000 43.000 53.000 66.000

         max
PRICE 59.000
AGE   66.000

In [22]:
# kaç unique SOURCE olduğunu ve frekanslarını inceleyelim;

df["SOURCE"].nunique()

df["SOURCE"].unique()

array(['android', 'ios'], dtype=object)

In [12]:
# Unique Price değişkenini inceleyelim;

df["PRICE"].unique()

array([39, 49, 29, 19, 59,  9], dtype=int64)

In [15]:
# hangi fiyattan kaç tane satış gerçekleştiğini incelyelim;

df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [16]:
# hangi ülke kaçar edet satış yaptığını inceyelim;

df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [17]:
# ülkelerin satıştan ne kadar kazandığını hesaplayalım;

df.groupby("COUNTRY").agg({"PRICE":"sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [20]:
# Source türlerine göre satış sayılarını hesaplayalım;

df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

In [24]:
# Ülkelere göre price ortalamları nedir hesaplayalım;

df.groupby("COUNTRY").agg({"PRICE":"mean"})

         PRICE
COUNTRY
bra     34.328
can     33.609
deu     34.033
fra     33.587
tur     34.787
usa     34.007

In [25]:
# Source'lara göre Price ortalalamarını hesaplayalım;

df.groupby("SOURCE").agg({"PRICE":"mean"})

         PRICE
SOURCE
android 34.175
ios     34.069

In [26]:
# Country-Source kırılımında Price ortalamaları hesaplayalım;

df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE":"mean"})

                 PRICE
COUNTRY SOURCE
bra     android 34.387
        ios     34.222
can     android 33.331
        ios     33.951
deu     android 33.870
        ios     34.269
fra     android 34.312
        ios     32.776
tur     android 36.229
        ios     33.273
usa     android 33.760
        ios     34.372

### Görev 2

In [29]:
# Country-Source-Sex-Age kırılımında Price ortalamaları hesaplayalım;

df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"})

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15  38.714
                       16  35.944
                       17  35.667
                       18  32.256
                       19  35.207
                       20  31.000
                       21  37.293
                       22  34.946
                       23  31.941
                       24  36.500
                       25  35.667
                       26  33.167
                       27  26.143
                       28  22.333
                       29  37.571
                       30  45.667
                       31  35.098
                       32  39.000
                       34  24.000
                       37  33.737
                       38  34.556
                       39  43.000
                       41  32.333
                       43  44.000
                       45  33.615
                       56  37.000
                male   15  39.345
                       16  29.667
                       17  37.158
                       18  33.054
                       19  35.216
                       20  35.400
                       21  35.250
                       22  31.000
                       23  21.500
                       24  40.429
                       25  30.429
                       26  37.095
                       27  32.636
                       28  28.231
                       29  29.714
                       30  35.364
                       35  31.500
                       36  31.857
                       40  39.625
                       41  35.667
                       44  36.500
                       46  59.000
                       53  29.000
        ios     female 15  36.778
                       16  33.688
                       17  32.636
                       18  36.500
                       19  39.000
                       20  32.846
                       22  44.000
                       23  29.769
                       24  34.000
                       25  39.000
                       26  34.333
                       27  34.000
                       28  32.333
                       29  30.429
                       31  27.571
                       33  35.364
                       34  19.000
                       35  32.333
                       37  35.111
                       42  39.000
                       45  35.364
                       46  33.000
                       54  34.000
                male   15  36.879
                       16  33.762
                       17  35.333
                       18  32.684
                       19  34.000
                       21  31.000
                       22  37.182
                       23  34.882
                       24  33.865
                       31  29.000
                       33  37.571
                       34  34.714
                       35  36.778
                       36  22.333
                       37  29.000
                       42  30.111
                       43  42.333
                       44  33.545
                       47  19.000
                       66  30.429
can     android female 15  25.667
                       16  29.690
                       18  37.333
                       19  32.529
                       20  31.500
                       27  19.000
                       43  34.000
                male   15  36.000
                       20  40.111
                       24  29.769
                       30  40.250
                       49  37.571
        ios     female 15  33.706
                       16  29.000
                       29  31.727
                male   15  37.571
                       16  35.000
                       17  37.667
                       25  31.174
                       32  29.000
                       57  31.000
deu     android female 15  32.000
                       16  27.000
                       17  33.737
                       21  31.000
                       22  35.000
                       23  34.000
                       24  35.364
                       25  34.455
                       27  32.125
                       28  32.333
                       33  29.000
                       34  32.333
                       36  49.000
                       38  39.000
                       41  27.750
                       44  31.500
                       51  49.000
                male   15  46.500
                       17  32.913
                       18  32.333
                       19  31.222
                       20  41.727
                       21  34.000
                       23  37.333
                       24  29.000
                       26   9.000
                       31  32.333
                       32  29.000
                       33  35.364
                       34  45.000
                       37  38.167
        ios     female 15  30.667
                       16  35.557
                       17  37.824
                       18  37.333
                       22  34.000
                       23  34.000
                       24  29.000
                       26  36.000
                       32  33.000
                male   16  39.000
                       17  35.000
                       20  49.000
                       23  29.000
                       25  35.000
                       30  31.000
                       32  31.353
                       42  37.000
fra     android female 15  37.571
                       16  36.727
                       17  34.652
                       19  27.333
                       21  39.000
                       23  32.125
                       24  59.000
                       26  31.857
                       35  34.000
                male   15  30.250
                       18  19.000
                       19  40.538
                       21  25.667
                       23  41.308
                       25  33.000
                       32  32.333
                       33  39.000
                       46  32.333
                       55  35.667
        ios     female 15  33.615
                       16  27.750
                       18  32.571
                       25  25.000
                       28  30.429
                       31  32.636
                       40  33.000
                male   15  29.000
                       16  30.667
                       17  40.667
                       19  35.667
                       20  49.000
                       22  35.000
                       26  34.000
                       27  29.000
                       31  38.375
                       38  29.000
                       51  39.000
tur     android female 15  41.000
                       16  34.556
                       17  33.688
                       18  41.500
                       19  31.000
                       20  32.333
                       21  37.000
                       26  37.571
                       29  24.000
                       31  40.667
                       32  43.000
                       49  39.000
                       50  32.333
                       52  36.143
                       56  29.000
                male   15  42.333
                       16  38.286
                       17  39.000
                       21  19.000
                       22  35.667
                       24  35.923
                       25  41.500
                       26  39.667
                       27  40.667
                       36  29.000
                       49  39.000
        ios     female 16  29.000
                       17  30.176
                       18  44.000
                       19  35.667
                       20  37.333
                       21  40.667
                       22  32.636
                       23  34.000
                       25  34.000
                       26  34.000
                       31  39.000
                       38  25.667
                       51  34.000
                male   15  32.846
                       16  39.000
                       17  34.806
                       19  27.333
                       21  22.333
                       24  45.000
                       37  42.333
                       42  31.105
                       47  19.000
usa     android female 15  32.667
                       16  34.902
                       17  34.625
                       18  32.404
                       19  35.765
                       20  31.286
                       21  34.185
                       22  33.800
                       23  33.103
                       24  30.053
                       25  34.000
                       26  30.778
                       27  29.000
                       28  34.789
                       30  29.000
                       31  35.000
                       32  28.167
                       33  37.182
                       34  28.000
                       35  35.667
                       42  34.000
                       44  32.333
                       47  49.000
                       49  35.250
                       61  45.667
                male   15  34.664
                       16  34.000
                       17  34.455
                       18  35.190
                       19  32.810
                       20  36.647
                       21  32.333
                       22  34.714
                       23  34.849
                       24  26.059
                       25  34.000
                       26  37.000
                       27  33.286
                       28  34.385
                       29  22.333
                       30  36.143
                       31  34.714
                       34  29.000
                       35  34.714
                       36  59.000
                       37  29.000
                       38  29.000
                       41  35.429
                       42  33.000
                       43  39.909
                       47  41.500
                       51  35.875
                       57  29.000
                       65  25.667
        ios     female 15  33.857
                       16  31.500
                       17  38.459
                       18  32.913
                       19  39.286
                       20  35.000
                       21  35.800
                       22  34.000
                       23  32.810
                       24  32.750
                       25  38.000
                       26  36.857
                       27  31.500
                       28  36.143
                       29  35.667
                       30  19.000
                       33  34.556
                       34  30.875
                       35  29.625
                       38  19.000
                       42  29.000
                       47  34.714
                       50  30.304
                       59  41.500
                       65  35.000
                male   15  33.730
                       16  34.714
                       17  32.913
                       18  34.577
                       20  34.000
                       21  38.535
                       22  32.171
                       25  31.857
                       26  34.000
                       27  35.111
                       28  42.333
                       29  24.000
                       30  41.727
                       31  41.000
                       32  54.000
                       33  30.304
                       36  24.000
                       37  31.727
                       42  30.250
                       50  39.000
                       53  34.000
                       55  29.000
                       59  46.500

In [43]:
# bir önceki işlemi değişkene atayıp fiyata göre sıralama işlemini yapalım;

agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"})

agg_df.sort_values("PRICE",ascending=False,inplace=True)

# reset_index işlemini yapalım;

agg_df.reset_index(inplace=True)

In [56]:
# Age değişkenini kategorik değişkene çevirelim;
bins = [-1,18,23,30,40,70]
labels = ['0_18' ,'19_23', '24_30', '31_40', '41_70']

agg_df["AGE_CAT"] = pd.cut(x=df["AGE"],bins = bins,labels =labels)

agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46 59.000    0_18
1     usa  android    male   36 59.000    0_18
2     fra  android  female   24 59.000    0_18
3     usa      ios    male   32 54.000    0_18
4     deu  android  female   36 49.000    0_18

In [69]:
# seviye tanımlı persona ataması yapalım;



agg_df["customers_level_based"] = agg_df[["COUNTRY", "SOURCE", "SEX","AGE_CAT"]].agg(lambda x: "_".join(x.str.upper()),axis=1)

persona = agg_df.groupby("customers_level_based").agg({"PRICE":"mean"})

persona

                          PRICE
customers_level_based
BRA_ANDROID_FEMALE_0_18  35.748
BRA_ANDROID_FEMALE_19_23 34.399
BRA_ANDROID_FEMALE_24_30 34.571
BRA_ANDROID_FEMALE_31_40 30.875
BRA_ANDROID_FEMALE_41_70 36.683
BRA_ANDROID_MALE_0_18    37.180
BRA_ANDROID_MALE_19_23   32.633
BRA_ANDROID_MALE_24_30   29.956
BRA_ANDROID_MALE_31_40   33.771
BRA_ANDROID_MALE_41_70   35.950
BRA_IOS_FEMALE_0_18      31.877
BRA_IOS_FEMALE_19_23     31.051
BRA_IOS_FEMALE_24_30     35.211
BRA_IOS_FEMALE_31_40     35.901
BRA_IOS_FEMALE_41_70     37.750
BRA_IOS_MALE_0_18        31.328
BRA_IOS_MALE_19_23       30.992
BRA_IOS_MALE_24_30       37.509
BRA_IOS_MALE_31_40       34.089
BRA_IOS_MALE_41_70       36.778
CAN_ANDROID_FEMALE_0_18  29.000
CAN_ANDROID_FEMALE_19_23 30.595
CAN_ANDROID_FEMALE_24_30 32.529
CAN_ANDROID_MALE_0_18    36.786
CAN_ANDROID_MALE_19_23   36.710
CAN_IOS_FEMALE_0_18      31.353
CAN_IOS_FEMALE_19_23     31.727
CAN_IOS_MALE_0_18        34.810
CAN_IOS_MALE_19_23       31.174
CAN_IOS_MALE_31_40       31.000
DEU_ANDROID_FEMALE_0_18  37.686
DEU_ANDROID_FEMALE_19_23 31.042
DEU_ANDROID_FEMALE_24_30 31.872
DEU_ANDROID_FEMALE_31_40 31.000
DEU_ANDROID_FEMALE_41_70 31.500
DEU_ANDROID_MALE_0_18    32.771
DEU_ANDROID_MALE_19_23   41.727
DEU_ANDROID_MALE_24_30   32.623
DEU_ANDROID_MALE_41_70   34.918
DEU_IOS_FEMALE_0_18      34.137
DEU_IOS_FEMALE_19_23     33.500
DEU_IOS_FEMALE_41_70     35.557
DEU_IOS_MALE_0_18        37.000
DEU_IOS_MALE_24_30       39.000
DEU_IOS_MALE_31_40       34.000
DEU_IOS_MALE_41_70       31.353
FRA_ANDROID_FEMALE_0_18  41.306
FRA_ANDROID_FEMALE_19_23 31.991
FRA_ANDROID_FEMALE_24_30 33.167
FRA_ANDROID_FEMALE_41_70 36.727
FRA_ANDROID_MALE_0_18    27.333
FRA_ANDROID_MALE_19_23   36.274
FRA_ANDROID_MALE_24_30   39.000
FRA_ANDROID_MALE_31_40   35.667
FRA_IOS_FEMALE_0_18      29.308
FRA_IOS_FEMALE_19_23     30.429
FRA_IOS_FEMALE_24_30     30.986
FRA_IOS_FEMALE_31_40     33.000
FRA_IOS_MALE_0_18        36.389
FRA_IOS_MALE_19_23       37.333
FRA_IOS_MALE_24_30       29.000
FRA_IOS_MALE_41_70       38.375
TUR_ANDROID_FEMALE_0_18  33.453
TUR_ANDROID_FEMALE_19_23 38.042
TUR_ANDROID_FEMALE_24_30 43.000
TUR_ANDROID_FEMALE_31_40 31.000
TUR_ANDROID_FEMALE_41_70 39.000
TUR_ANDROID_MALE_0_18    33.851
TUR_ANDROID_MALE_19_23   37.056
TUR_ANDROID_MALE_24_30   42.333
TUR_ANDROID_MALE_41_70   38.643
TUR_IOS_FEMALE_0_18      34.714
TUR_IOS_FEMALE_19_23     35.422
TUR_IOS_FEMALE_24_30     33.545
TUR_IOS_FEMALE_41_70     35.667
TUR_IOS_MALE_0_18        32.000
TUR_IOS_MALE_19_23       39.000
TUR_IOS_MALE_24_30       33.405
TUR_IOS_MALE_31_40       28.570
USA_ANDROID_FEMALE_0_18  36.468
USA_ANDROID_FEMALE_19_23 32.204
USA_ANDROID_FEMALE_24_30 30.309
USA_ANDROID_FEMALE_31_40 33.117
USA_ANDROID_FEMALE_41_70 33.476
USA_ANDROID_MALE_0_18    33.674
USA_ANDROID_MALE_19_23   34.852
USA_ANDROID_MALE_24_30   33.405
USA_ANDROID_MALE_31_40   34.213
USA_ANDROID_MALE_41_70   36.038
USA_IOS_FEMALE_0_18      31.220
USA_IOS_FEMALE_19_23     33.306
USA_IOS_FEMALE_24_30     32.810
USA_IOS_FEMALE_31_40     34.149
USA_IOS_FEMALE_41_70     37.375
USA_IOS_MALE_0_18        38.240
USA_IOS_MALE_19_23       33.505
USA_IOS_MALE_24_30       37.623
USA_IOS_MALE_31_40       30.429
USA_IOS_MALE_41_70       38.535

In [76]:
# Müşterileri segmentlere göre ayıralım;

persona["segment"] = pd.qcut(persona["PRICE"],4,labels = ["D","C","B","A"])

persona.reset_index(inplace=True)

persona.head()

      customers_level_based  PRICE segment
0   BRA_ANDROID_FEMALE_0_18 35.748       B
1  BRA_ANDROID_FEMALE_19_23 34.399       B
2  BRA_ANDROID_FEMALE_24_30 34.571       B
3  BRA_ANDROID_FEMALE_31_40 30.875       D
4  BRA_ANDROID_FEMALE_41_70 36.683       B

In [77]:
# Yeni gelen müşterileri sınıflandırıp, ne kadar gelir getireceğini tahmin edelim;

# Customer 1 : 33 yaşında ANDROID kullanan Türk bir KADIN 

new_customer = "TUR_ANDROID_FEMALE_31_40"

persona[persona["customers_level_based"] == new_customer]

       customers_level_based  PRICE segment
65  TUR_ANDROID_FEMALE_31_40 31.000       D

In [82]:
# Cutomer 2 : 35 yaşında IOS kullanan bir Fransız kadın

new_customer = "FRA_IOS_FEMALE_31_40"
persona[persona["customers_level_based"] == new_customer]

   customers_level_based  PRICE segment
57  FRA_IOS_FEMALE_31_40 33.000       C